<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174156976000-17a6v0iaci3okubi1dl68i7mp066b55d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174156976000-17a6v0iaci3okubi1dl68i7mp066b55d</string>
	<key>API_KEY</key>
	<string>AIzaSyBQaNZeacfKR3868EDQCJFjXCYsw-1LOCE</string>
	<key>GCM_SENDER_ID</key>
	<string>174156976000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartExtension</string>
	<key>PROJECT_ID</key>
	<string>smartextension-a3758</string>
	<key>STORAGE_BUCKET</key>
	<string>smartextension-a3758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174156976000:ios:136c6781f5e791a6fefb65</string>
</dict>
</plist>